.articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: fit-content;
    grid-gap: 10px;
    width: 95vw;
}

.article {
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 0.5em 1em;
    border-style: groove;
}

.article-info {
    padding: 0.25em;
}

.article-title {
    font-size: larger;
    font-weight: bold;
}

.article-date {
    margin-top: 0em;
}

.article-image {
    max-width: 16em;
    height:fit-content;
    padding-right: 0.5em;
}