.article-details {
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 2em;
    margin-top: 5vh;
    border-radius: 15px;
    border-width: 4px;
    width: 80vw;
}

.article-details-info {
    display: flex;
    align-items: center;
}

.article-details-info div {
    padding-left: 2em;
}

.article-details-image {
    width: 40vw;
    height: fit-content;
}

h2 {
    font-size: xx-large;
}

p, a {
    font-size: larger;
}

a {
    color: black;
}

button {
    width: fit-content;
    align-self: end;
    font-size: large;
    font-weight: bold;
    padding: 0.5em;
    background-color: rgb(192, 204, 207);
    box-shadow: 3px 3px 0px 0px black;
    margin-top: 1em;
    cursor: pointer;
        &:hover {
            background-color: black;
            color: white;
        }
}